<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="kyo128.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles/chat.css">
    <title>KYO Assist</title>
</head>
<body>
    <header>
        <h4>Email chat</h4>
        <h4>User Profile</h4>
    </header>
    <section class="messages">
        <h2>Messaging</h2>
        <div class="message_item">
            <div>
                <img src="/images/kyo48.ico" alt="">
            </div>
            <div class="message_info">
                <h5 class="message_name">Username</h5>
                <h6 class="message_email">email@email.com</h6>
                <p class="message_text">Hello there !</p>
            </div>
        </div>
        <div class="message_item">
            <div>
                <img src="/images/kyo48.ico" alt="">
            </div>
            <div class="message_info">
                <h5 class="message_name">Username</h5>
                <h6 class="message_email">email@email.com</h6>
                <p class="message_text">Hello there !</p>
            </div>
        </div>
        <div class="message_item">
            <div>
                <img src="/images/kyo48.ico" alt="">
            </div>
            <div class="message_info">
                <h5 class="message_name">Username</h5>
                <h6 class="message_email">email@email.com</h6>
                <p class="message_text">Hello there !</p>
            </div>
        </div>
        <div class="message_item">
            <div>
                <img src="/images/kyo48.ico" alt="">
            </div>
            <div class="message_info">
                <h5 class="message_name">Username</h5>
                <h6 class="message_email">email@email.com</h6>
                <p class="message_text">Hello there !</p>
            </div>
        </div>
        <div class="message_item">
            <div>
                <img src="/images/kyo48.ico" alt="">
            </div>
            <div class="message_info">
                <h5 class="message_name">Username</h5>
                <h6 class="message_email">email@email.com</h6>
                <p class="message_text">Hello there !</p>
            </div>
        </div>
        <div class="message_item">
            <div>
                <img src="/images/kyo48.ico" alt="">
            </div>
            <div class="message_info">
                <h5 class="message_name">Username</h5>
                <h6 class="message_email">email@email.com</h6>
                <p class="message_text">Hello there !</p>
            </div>
        </div>
        <div class="message_item">
            <div>
                <img src="/images/kyo48.ico" alt="">
            </div>
            <div class="message_info">
                <h5 class="message_name">Username</h5>
                <h6 class="message_email">email@email.com</h6>
                <p class="message_text">Hello there !</p>
            </div>
        </div>
        <div class="message_item">
            <div>
                <img src="/images/kyo48.ico" alt="">
            </div>
            <div class="message_info">
                <h5 class="message_name">Username</h5>
                <h6 class="message_email">email@email.com</h6>
                <p class="message_text">Hello there !</p>
            </div>
        </div>
        <div class="message_item">
            <div>
                <img src="/images/kyo48.ico" alt="">
            </div>
            <div class="message_info">
                <h5 class="message_name">Username</h5>
                <h6 class="message_email">email@email.com</h6>
                <p class="message_text">Hello there !</p>
            </div>
        </div>
        <div class="message_item">
            <div>
                <img src="/images/kyo48.ico" alt="">
            </div>
            <div class="message_info">
                <h5 class="message_name">Username</h5>
                <h6 class="message_email">email@email.com</h6>
                <p class="message_text">Hello there !</p>
            </div>
        </div>
        <div class="message_item">
            <div>
                <img src="/images/kyo48.ico" alt="">
            </div>
            <div class="message_info">
                <h5 class="message_name">Username</h5>
                <h6 class="message_email">email@email.com</h6>
                <p class="message_text">Hello there !</p>
            </div>
        </div>
    </section>
</body>
</html>