<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="kyo128.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles/main.css">
    <title>KYO Assist</title>
</head>
<body>
    <div class="title"><img src="images/kyo32.ico" alt="">YO Assist</div>
    <section class="main">
        <input class="tab_radio" type="radio" id="signIn" name="tab" checked>
        <input class="tab_radio" type="radio" id="signUp" name="tab">
        <h2 id="welcome_message">Welcome Back!</h2>
        <p id="welcome_description">Please enter your informations</p>
        <nav class="nav_tabs" id="tab_switch">
            <label id="SignInLabel" for="signIn" class="tab_item">Sign In</label>
            <label id="SignUpLabel" for="signUp" class="tab_item">Sign Up</label>
            <div class="slider"></div>
        </nav>
        <div class="content">
            <div class="signInContent">
                <form action="/signin" method="post">
                    <div>
                        <input class="input_credentials" type="email" placeholder="Email" name="signin_email">
                    </div>
                    <div>
                        <input class="input_credentials" type="password" placeholder="Password" name="signin_password">
                    </div>
                    <input type="submit" value="Login" class="submit_button">
                </form>
            </div>
            <div class="signUpContent">
                <form action="/signup" method="post">
                    <div>
                        <input class="input_credentials" type="text" placeholder="Full name" name="signup_fullname">
                    </div>
                    <div>
                        <input class="input_credentials" type="email" placeholder="Email" name="signup_email">
                    </div>
                    <div>
                        <input class="input_credentials" type="password" placeholder="Password" name="signup_password">
                    </div>
                    <div>
                        <input class="input_credentials" type="password" placeholder="Confirm password" name="signup_confirm">
                    </div>
                    <input type="submit" value="Register" class="submit_button">
                </form>
            </div>
        </div>
    </section>
    <script src="/scripts/popup.js"></script>
</body>
</html>